body {
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

#login-button {
  width: 500px;
  margin: auto;
}

#header {
  margin: 35px auto;
  display: block;
  text-align: center;
}

#home-link, #login-link, #intake-link, #signup-link, #logout-link, #schedule-link {
  border-radius: 10px;
}

#project-header {
  margin: 50px auto;
  display: block;
  text-align: center;
}

#project-row:hover {
  cursor: pointer;
}
