{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <title>Priority Calculator</title>
  </head>
  <body>

    <div id="top-main" class="container-fluid px-0">
      {% block navbar %}
      {% endblock %}

      {% if user.is_authenticated %}
      {% include "navbar_auth.html" %}
      {% else %}
      {% include "navbar_nonauth.html" %}
      {% endif %}
      <h2 id="title-head" class="text-white">Priority Calculator</h2>
    </div>

    <div id="right-main" class="container-fluid">
      <br>
      <br>
      {% block content %}
      <h1>none</h1>
      {% endblock %}
      <br>
      <br>
    </div>

    <div id="left-main" class="container">
    </div>

    <div id="bottom-main" class="container-fluid px-0">
      <footer id="footer-main">
        <div id="footer-content" class="row">

          <div class="col">
            <h4>We hope you have found everything well</h4>
            <p>Random stuff.</p>
          </div>

          <div class="col">
            <h5>You can also check out:</h5>
            <ul id="outreach-list">
              <li><a class="text-white" href="#">Contact</a></li>
              <li><a class="text-white" href="#">Instagram</a></li>
              <li><a class="text-white" href="#">Facebook</a></li>
              <li><a class="text-white" href="#">Youtube</a></li>
            </ul>
          </div>

        </div>

        <div id="footer-trademark" class="row">
          <div class="col">
            <h6>&copy Priority Calculator</h6>
          </div>
        </div>
      </footer>
    </div>


  </body>

</html>
