<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8" />
		<meta name="priorityCalculator" content="width=device-width" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href='styles.css'>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Priority Calculator</title>

	</head>

	<body>

		<div class="container p-3 my-3 bg-dark text-white text-center">
			<h1>Priority Calculator</h1>
		</div>

		<form id="user-form">
			<div class="form-group">
				<label for="username">Username:</label>
				<br>
				<input type="text" id = "username" class="form-control" name="username"/>
			</div>

			<button class='btn btn-primary bg-dark' id='user-button'>Submit</button>
		</form>

		<script src="main.js"></script>

	</body>

</html>
