{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
  <h1 id="project-header">Projects</h1>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Weight</th>
        </tr>
      </thead>
      {% for item in data %}
        <tbody>
          <tr id="project-row" data-href="{% url "assignment_intake" project=item.name %}">
            <td>{{ item.name }}</td>
            <td>{{ item.weight }}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </div>

  <div class="col">

    <form action="" method='POST'>
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-dark" name="pro" type="submit" value='Add another project' />
      <input class="btn btn-dark" name="assig" type="submit" value='Add assignment' />
    </form>

  </div>
</div>

{% endblock %}
