{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
  <h2 class="text-center">Login</h2>
  <br>
  <form method="post" class="text-center">
    {% csrf_token %}
    {{ form|crispy }}

    <div id="login-button" class="container row">
      <div class="col">
        <br>
        <button type="submit" class="btn btn-dark">Login</button>
      </div>
      <div class="col">
        <h6>Don't have an account?</h6>
        <a class="btn btn-dark" href="{% url "signup" %}">Signup</a>
      </div>
    </div>
  </form>
  <br>
  
  {% if form_result %}
  <h5 class="text-center" id='login_fail'>{{ form_result }}</h5>
  {% endif %}
</div>
{% endblock %}
