{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <h2 class="text-center">Optimised schedule</h2>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Assignment Name</th>
        <th>Weight</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Completed</th>
      </tr>
    </thead>
    {% for item in data %}
    <tbody>
      <td>{{ item.project.name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.weight }}</td>
      <td>{{ item.deadline }}</td>
      <td>{{ item.priority }}</td>
      <td><label><input type="checkbox" value={{ item.completed }}></label></td>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
